@page "/vergenero"
@page "/vergenero/{GeneroId:int}"
@inject HttpClient httpClient
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]

@if (Genero is null)
{
	<p>Cargando...</p>
}
else
{
	<div>
		<strong style="font-size: 30px;">G&eacute;nero: </strong><strong style="font-size: 20px;">(@Genero.Categoria)</strong>

		<br>

		<div class="detalle-item">
			<strong style="font-size: 20px;">Descripci&oacute;n:</strong><br>@Genero.Descripcion
		</div>
	</div>
}

@code {
	[Parameter]
	public int GeneroId { get; set; }
	private Generos Genero { get; set; }

	protected override async Task OnInitializedAsync()
	{
		try
		{
			Genero = await httpClient.GetFromJsonAsync<Generos>($"api/Generos/{GeneroId}");
		}
		catch (HttpRequestException e)
		{
			Console.WriteLine($"Error al obtener detalles de la película: {e.Message}");
		}
	}
}
